
.icon-artificial-intelligence:before { content: '\e800'; } /* '' */
.icon-cyber-security:before { content: '\e801'; } /* '' */
.icon-farmer:before { content: '\e802'; } /* '' */
.icon-business-people:before { content: '\e803'; } /* '' */
.icon-digitalization:before { content: '\e804'; } /* '' */
.icon-headhunting:before { content: '\e805'; } /* '' */
